.style-nav {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

.style-div {
    font-size: 5vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}